main #tabs #tabs__body #test #test__header #test__button, main #tabs #tabs__body #instr #instr__buttons button {
  background-color: #e21c49;
  color: #fff;
  padding: 7px 15px;
}

main #tabs {
  margin-top: 25px;
}
main #tabs #tabs__body #test #test__header {
  padding: 15px 12px;
}
main #tabs #tabs__body #test #test__header.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #b6b6b6;
}
main #tabs #tabs__body #test #test__header #test__button {
  border-radius: 10px;
}
main #tabs #tabs__body #test .test__block {
  display: none;
}
main #tabs #tabs__body #test .test__block.active {
  display: block;
}
main #tabs #tabs__body #test #test__confirmation {
  padding: 20px;
  margin: 10px;
  height: 100%;
  border: 2px solid #b6b6b6;
  background-color: #eef5f5;
}
main #tabs #tabs__body #test #test__confirmation h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
main #tabs #tabs__body #test #test__confirmation p {
  margin-bottom: 20px;
  line-height: 1.5em;
}
main #tabs #tabs__body #test #test__confirmation span {
  display: block;
  margin-top: 60px;
  color: #e21c49;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
main #tabs #tabs__body #test #test__captcha {
  width: 600px;
  margin: 0 auto;
  height: auto;
  background-color: #fff;
}
main #tabs #tabs__body #test #test__captcha #captcha__container {
  margin: 20px;
  width: auto;
  border: 1px #b6b6b6 solid;
  padding: 5px;
}
main #tabs #tabs__body #test #test__captcha #captcha__container #captcha__header {
  background-color: #1a74ec;
  padding: 25px 20px;
  color: #fff;
}
main #tabs #tabs__body #test #test__captcha #captcha__container #captcha__header h1 {
  margin: 10px 0px;
  font-weight: bold;
}
main #tabs #tabs__body #test #test__captcha #captcha__container #captcha__body {
  display: grid;
  margin: 10px 0px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
}
main #tabs #tabs__body #test #test__captcha #captcha__container #captcha__body img {
  height: 118px;
  position: relative;
  width: 100%;
  cursor: pointer;
  transition: 0.1s all ease;
}
main #tabs #tabs__body #test #test__captcha #captcha__container #captcha__body img.active {
  transform: scale(0.9, 0.9);
}
main #tabs #tabs__body #test #test__captcha #captcha__container #captcha__footer {
  border-top: 1px solid #b6b6b6;
  padding: 25px 20px;
  color: #fff;
  display: flex;
  justify-content: end;
  background-color: #fff;
}
main #tabs #tabs__body #test #test__captcha #captcha__container #captcha__footer button {
  background-color: #1a74ec;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}
main #tabs #tabs__body #test #test__loading {
  height: 70vh;
}
main #tabs #tabs__body #test #test__loading.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #tabs #tabs__body #test #test__loading img {
  margin-top: 15px;
}
main #tabs #tabs__body #instr {
  text-align: center;
}
main #tabs #tabs__body #instr #instr__info {
  margin-top: 30px;
  margin-bottom: 120px;
}
main #tabs #tabs__body #instr #instr__info h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 100px;
}
main #tabs #tabs__body #instr #instr__buttons h1 {
  margin-bottom: 20px;
  font-style: italic;
}
main #tabs #tabs__body #instr #instr__buttons h2 {
  margin-bottom: 20px;
  opacity: 0;
}
main #tabs #tabs__body #instr #instr__buttons h2.active {
  opacity: 100%;
}
main #tabs #tabs__body #instr #instr__buttons button {
  margin-bottom: 20px;
}
main #tabs #tabs__body #instr #instr__buttons button.active {
  background-color: #b6b6b6;
}
main #tabs #tabs__body #instr #instr__buttons button.clicked {
  background-color: green;
  cursor: default;
}
main #tabs #tabs__body #instr.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.hidden {
  display: none;
}

#global-error {
  margin: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

/*# sourceMappingURL=nmt.css.map */
