---
layout: layout
permalink: /nmt
loggedOut: false
css:
    - static/CSS/nmt.css
    - static/CSS/general/tabs.css
js:
    - static/JS/nmt.js
    - static/JS/general/tabs.js
---

<main class="container">
    <section id="tabs">
        <div id="tabs__header">
            <div class="tab__title active" data-for="test">
                Іспит
            </div>
            <a class="tab__title" data-for="maths">Математика: довідкові матеріали</a>
            <div class="tab__title" data-for="history">Історія України: довідкові матеріали</div>
            <div class="tab__title" data-for="instr">Інструкція</div>
        </div>
        <div id="tabs__body">
            <div id="test" class="tab active">
                <div id="test__header" class="test__block active" data-num="1"> 
                    <h1 id="test__title">НМНТ, 20.07.2025 року, час початку: 10:00</h1>
                    <button id="test__button" class="test__next">Розпочати тест</button>
                </div>
                <div id="test__confirmation" class="test__block" data-num="2"> 
                    <h1>Тест "НМТ-2025" обмежений у часісімасісі (2 години)</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus error reiciendis voluptatum voluptates. Incidunt quas iste, aliquam quia voluptatem maiores, repellendus tempore ut iusto dignissimos consequatur deserunt aperiam cumque! Tempore sunt minus repudiandae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, optio?</p>
                    <p>Accusantium distinctio at magni, doloribus ipsa fugiat laborum dolore rerum, omnis officiis, qui iusto laboriosam id. Quod sed eum eveniet repellat odit obcaecati neque praesentium ea commodi dolore? Eveniet eligendi autem reiciendis iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quas esse consectetur explicabo. Cumque provident magni harum totam expedita laboriosam?</p>
                    <p>Velit accusantium delectus ipsum minima id laboriosam? Asperiores modi earum odit alias culpa suscipit numquam perferendis beatae. Adipisci voluptatem nemo voluptates fugit in. Consequuntur repellendus, tempore laboriosam rerum ex corrupti non alias laudantium?</p>
                    <span class="test__next">Розпочати роботу над тестом</span>
                </div>
                <div id="test__captcha" class="test__block" data-num="3"> 
                    <div id="captcha__container">
                        <div id="captcha__header">
                            <p>Виберіть усі картинки з</p>
                            <h1>"Піу-піу"</h1>
                        </div>
                        <div id="captcha__body">
                            {% for i in (1..16) %}
                            <div class="captcha__img" id="img__{{i}}" >
                                <img src="static/imgs/Page/Captcha/Maks_{{i}}.png" alt="" data-imgnum="{{i}}">
                                <span class="captcha__tick"></span>
                            </div>

                            {% endfor %}
                        </div>
                        <div id="captcha__footer">
                            <button class="test__next">Далі</button>
                        </div>
                    </div>
                </div>
                <div id="test__loading" class="test__block" data-num="4">
                    <h1>Завантаження ...</h1>
                    <img src="static/imgs/Page/loading.gif" alt="">
                </div>
            </div>
            {% include materials.html %}
            <div id="instr" class="tab">
                <div id="instr__info">
                    <h1>Інструкція</h1>
                    <h2>Не ісполнять.</h2>
                </div>
                <div id="instr__buttons">
                    <h1>Ознайомлений?</h1>
                    <h2 id="instr__question">Сосав?</h2>
                    <button id="instr__confirm">Так</button>
                    <h2 id="instr__followup">Всьо, без питань</h2>
                </div>
            </div>
        </div>
    </section>
</main>