@use "_null";
@use "_variables" as *;



body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: $textNormalFS;
}

h1{
    font-size: $textBigHeadingFS;
}

h2{
    font-size: $textSmallHeadingFS;
}

.container{
    width: $globalContainerWidth;
    margin: 0 auto;
}
