@use "variables" as *;

header{
    padding: 25px 0px;
    #header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header__logo{
            object-fit: cover;
            width: 125px;
        }

        #header__user-info{
            #user-info__name{
                font-weight: bold;
            }
        }
    }
    box-shadow:0px 2px 4px $borderGrey ;
    border-bottom: 2px solid $borderGrey;
}