@use "variables" as *;

main{
    #tabs{
        margin-top: 25px;

        #tabs__body{
            
            #test{
                #test__header{

                    &.active{
                        display: block
                    }
                    #header__controls{
                        padding: 15px 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 1px solid $borderGrey;  
                        #test__title{

                        }
                        #test__button{
                            @extend %actionButton;
                            border-radius: 10px;
                            
                        }  
                    }
                    #header__info{
                        padding: 15px 40px;
                        #info__title{
                            border-bottom: 1px solid $borderGrey;
                            padding-bottom: 10px;
                            position: relative;
                            &::before{
                                position: absolute;
                                left: -17px;
                                top: 0;
                                content: "˅";
                                display: inline-block;
                                color: $redNormal;
                                font-weight: bold;
                                transform: scaleX(1.5);
                            }
                        }
                        #info__time{
                            padding: 10px 0px 0px 5px;
                        }
                    }
                }
                
                .test__block{
                    display: none;
                    &.active{
                        display: block;
                    }
                }

                #test__confirmation{
                    padding: 20px;
                    margin: 10px;
                    height: 100%;
                    border: 2px solid $borderGrey;
                    background-color: $backgroundBlue;
                    h1{
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    p{
                        margin-bottom: 20px;
                        line-height: 1.5em;
                    }
                    .span__next{
                        display: block;
                        margin-top: 30px;
                        color: $redNormal;
                        text-decoration: underline;
                        font-weight: bold;
                        font-size: 16px;
                        cursor: pointer;
                    }

                    #confirmation__captcha{
                        position: relative;
                        #captcha__block{
                            display: inline-flex;
                            width:300px ;
                            flex-direction: row;
                            border: 1px solid $borderGrey;
                            padding: 5px 10px;
                            background-color: #f9f9f9;
                            border-radius: 3px;
                            align-items: center;
                            #captcha__checkbox{
                                width: 30px;
                                height: 30px;
                                position: relative;
                                right: -2px;
                                border: 2px solid #000;
                                background-color: #fff;
                                margin-right:10px ;
                                cursor: pointer;
                                transition: border-color 0.5s ease;

                                animation-name: checkAnimate;
                                animation-fill-mode: forwards;
                                animation-duration: 0.5s;
                                animation-iteration-count: 1;   
                                animation-play-state: paused;
                                animation-timing-function: steps(20,end);
                                &.active{
                                    border-color: $borderGrey;
                                }
                                &.checked{
                                    background-image: url("../imgs/Page/captchaCheck.png");
                                    animation-play-state: running;
                                    border: none;
                                    background-color: transparent;

                                }
                                &.warning{
                                    border-color: $redNormal;
                                }
                                @keyframes checkAnimate {
                                    from{
                                        background-position: -10px 0px;
                                    }
                                    to{
                                        background-position: -10px -600px;
                                    }
                                }
                            }
                            img{
                                width: 60px;
                                object-fit: contain;
                                margin-left: auto;
                            }
                        }
                        #captcha__container{
                            opacity: 0;
                            pointer-events: none;
                            transition: 0.5s all ease;
                            background-color: #fff;
                            &.active{
                                opacity: 100%;
                                pointer-events: all; 
                            }
                            position: absolute;
                            top: -350px;
                            left: 200px;
                            margin: 20px;
                            width: 500px;
                            border: 1px $borderGrey solid;
                            padding: 5px;
                                #captcha__header{
                                    .header__pack{
                                        display: none;
                                        &.active{
                                            display: block;
                                        }
                                        background-color: #1a74ec;
                                        padding: 25px 20px;
                                        color: #fff;
                                        h1{
                                            margin: 10px 0px;
                                            font-weight: bold;
                                        }
                                    }
                                    
                                }
                                
                                #captcha__body{
                                    background-color: #fff;
                                    .captcha__pack{
                                        display: none;
                                        &.active{
                                            display: flex;
                                        }
                                        width: 100%;
                                        flex-direction: column;
                                        .captcha__row{
                                            display: flex;
                                            flex-direction: row;
                                            width: 100%;
                                            margin-top: 5px;
                                             .captcha__img{
                                                flex-basis: auto;
                                                flex-grow: 1;
                                                position: relative;
                                                display: inline-block;
                                                cursor: pointer;
                                                transition: 0.1s all ease;
                                                &:not(:last-child){margin-right: 5px;}
                                                img{
                                                    width: 100%;
                                                    object-fit: fill;
                                                    max-height: 100px;
                                                }

                                                &.active{
                                                    transform: scale(0.9,0.9);
                                                    .captcha__tick{
                                                        opacity: 100%;
                                                    }
                                                }

                                                .captcha__tick{
                                                    width: 30px;
                                                    height: 30px;
                                                    opacity: 0%;
                                                    background-color:#1a74ec ;
                                                    position: absolute;
                                                    top: -10px;
                                                    left: -10px;
                                                    border-radius: 50px;

                                                    &::before, &::after{
                                                        content: "";
                                                        background-color: #fff;
                                                        height: 3px;
                                                        position:absolute;

                                                    }
                                                    &::before{
                                                        width: 10px;
                                                        transform: rotate(45deg);
                                                        top: 16px;
                                                        left: 4px;
                                                    }
                                                    &::after{
                                                        width: 20px;
                                                        transform: rotate(-45deg);
                                                        top: 14px;
                                                        left: 9px;
                                                    }

                                                }


                                            }
                                        }
                                        
                                       
                                    }
                                    #captcha__warning{
                                        margin: 10px 5px;
                                        color: $redNormal;
                                        display: none;
                                        font-weight: bold;
                                        &.active{
                                            display: block;
                                        }
                                    }
                                }

                                #captcha__footer{
                                    border-top:1px solid $borderGrey ;
                                    padding: 25px 20px;
                                    color: #fff;
                                    display: flex;
                                    justify-content: end;
                                    background-color: #fff;
                                    button{
                                        background-color: #1a74ec;
                                        color: #fff;
                                        font-size: 18px;
                                        padding: 10px 15px;
                                        
                                    }
                                }
                        }
                    }
                }

               
                #test__loading{
                    height: 60vh;
                    &.active{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                    img{
                        margin-top: 15px;
                    }
                }

                #test__start{
                    height: 60vh;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    &.active{
                        display: flex;
                    }
                    form{
                        >*{
                            margin-bottom: 20px;
                        }
                        #form__block-code{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            input{
                                margin-left: 10px;
                                @extend %input;
                                font-size: 18px;
                                flex-grow: 1;
                            }
                        }
                        
                        #start__button{
                            @extend %actionButton;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }

                }
            }
            #instr{
                text-align: center;
                #instr__info{
                    margin-top: 30px;
                    margin-bottom: 120px;
                    h1{
                        font-size: 30px;
                        font-weight: bold;
                        margin-bottom: 100px;
                    }
                }
                #instr__buttons{
                    h1{
                        margin-bottom: 20px;
                        font-style: italic;
                    }
                    h2{
                        margin-bottom: 20px;
                        opacity: 0;
                        &.active{
                            opacity: 100%;
                        }
                    }
                    button{
                        @extend %actionButton;
                        margin-bottom: 20px;
                        &.active{
                            background-color: $borderGrey;
                        }
                        &.clicked{
                            background-color: green;
                            cursor:default;
                        }
                    }
                }
                &.active{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

        }
    }

    &.hidden{
        opacity: 0;
    }
}

#global-error{
    margin: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}   