@use "variables" as *;

main{
    #tabs{
        margin-top: 25px;

        #tabs__body{
            
            #test{
                #test__header{
                    padding: 15px 12px;

                    &.active{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 2px solid $borderGrey;        
                    }

                    #test__title{

                    }
                    #test__button{
                        @extend %actionButton;
                        border-radius: 10px;
                        
                    }
                }
                
                .test__block{
                    display: none;
                    &.active{
                        display: block;
                    }
                }

                #test__confirmation{
                    padding: 20px;
                    margin: 10px;
                    height: 100%;
                    border: 2px solid $borderGrey;
                    background-color: $backgroundBlue;
                    h1{
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    p{
                        margin-bottom: 20px;
                        line-height: 1.5em;
                    }
                    span{
                        display: block;
                        margin-top: 60px;
                        color: $redNormal;
                        text-decoration: underline;
                        font-weight: bold;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }

                #test__captcha{
                    width: 600px;
                    margin: 0 auto;
                    height: auto;
                    background-color: #fff;
                    #captcha__container{
                        margin: 20px;
                        width: auto;
                        border: 1px $borderGrey solid;
                        padding: 5px;
                        #captcha__header{
                            background-color: #1a74ec;
                            padding: 25px 20px;
                            color: #fff;
                            h1{
                                margin: 10px 0px;
                                font-weight: bold;
                            }
                        }
                        
                        #captcha__body{
                            display: grid;
                            margin: 10px 0px;
                            grid-template-columns: repeat(4,auto);
                            grid-template-rows: repeat(4,auto);
                            gap: 5px;
                            img{
                                height: 118px;
                                width: 100%;
                                cursor: pointer;

                                &.active{
                                    transform: scale(0.9,0.9);
                                }
                            }
                        }

                        #captcha__footer{
                            border-top:1px solid $borderGrey ;
                            padding: 25px 20px;
                            color: #fff;
                            display: flex;
                            justify-content: end;
                            background-color: #fff;
                            button{
                                background-color: #1a74ec;
                                color: #fff;
                                font-size: 18px;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
                #test__loading{
                    height: 70vh;
                    &.active{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                    img{
                        margin-top: 15px;

                    }
                }
            }
            #instr{
                text-align: center;
                #instr__info{
                    margin-top: 30px;
                    margin-bottom: 120px;
                    h1{
                        font-size: 30px;
                        font-weight: bold;
                        margin-bottom: 100px;
                    }
                }
                #instr__buttons{
                    h1{
                        margin-bottom: 20px;
                        font-style: italic;
                    }
                    h2{
                        margin-bottom: 20px;
                        opacity: 0;
                        &.active{
                            opacity: 100%;
                        }
                    }
                    button{
                        @extend %actionButton;
                        margin-bottom: 20px;
                        &.active{
                            background-color: $borderGrey;
                        }
                        &.clicked{
                            background-color: green;
                            cursor:default;
                        }
                    }
                }
                &.active{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    &.hidden{
        display: none;
    }
}

#global-error{
    margin: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}   