@use "variables" as *;

html{
    scroll-behavior: smooth;
}

body{
    &.died{
        overflow: hidden;
        pointer-events: none;
    }
}

main{
    #test{
        border: none !important;
        #test__container{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: 1fr;

            gap:5px;

            @media screen and (max-width:600px) {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }

            #test__main{
                grid-column-start: 1;
                grid-column-end: 6;
                #main__container{
                    #main__header{
                        display: flex;
                        width: 100%;
                        flex-direction: row;

                        div{
                            width: 100%;
                            padding: 15px 0px;
                            text-align: center;
                            border: 1px solid $borderGrey;
                            cursor: pointer;
                            &.active{
                                border-bottom: 2px solid $redNormal;
                                color: $redNormal;
                            }
                        }
                        .main__controls{
                            width: 23%;
                        }
                    }
                    #main__body{
                        >div{
                            display: none;
                            &.active{
                                display: block;
                            }
                        }
                        .body__title{
                            margin-top: 15px;
                            margin-bottom: 40px;
                        }
                        .main__block:not(:last-child){
                            margin-bottom: 30px;
                        }
                        .info-block{
                            padding: 10px;
                            text-align: center;
                            border: 1px $popupGrey solid;
                            background-color: $backgroundBlue;
                            .info-block__text{
                                font-weight: bold;
                                line-height: 1.5em;
                            }
                        }

                        .test-block{

                            .question__info{
                                margin: 20px 0px;
                                >*:not(:last-child){margin-bottom: 10px;}
                            }
                            .question__title{
                                font-size: $textSmallHeadingFS - 1px;
                                line-height: 1.2em;
                            }



                            form{
                                .form__block{
                                    cursor: pointer;
                                    label{
                                        font-size: $textSmallHeadingFS;
                                    }
                                    &:last-child{
                                        margin-top: 20px;
                                        margin-bottom: 10px;

                                        button{
                                            @extend %actionButton;
                                            border-radius: 10px;
                                            &:disabled{
                                                background-color: $borderGrey;
                                                color: $textGrey;
                                            }
                                        }
                                    }
                                }
                                
                            }
                            .question__saved{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: start;
                                border-top: 3px solid $redNormal;
                                padding:5px 5px;
                                .saved__icon{
                                    margin-right: 10px;
                                    background-color: $redNormal;
                                    color: #fff;
                                    border-radius: 50px;
                                    width: 15px;
                                    height: 15px;
                                    text-align: center;
                                }
                            }
                        }

                        .sin-an,.mult-an{
                            form{

                                .form__block:not(:last-child){
                                    margin-bottom: 5px;
                                    border: 1px solid $borderGrey;
                                    padding: 7px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: start;
                                    input{
                                        margin-right: 10px;
                                        cursor: pointer;

                                    }
                                    label{
                                        width: 100%;
                                        cursor: pointer;
                                    }

                                    &:hover{
                                        border-color: $redNormal;
                                    }
                                }
                                .form__block{
                                    position: relative;
                                    transition: 0.5s all ease;
                                    &.running{
                                        display: inline-flex;
                                        z-index: 3;
                                        background-color: #fff;
                                    }
                                }
                            }
                        }

                        .open-an{
                            .open-an__input{
                                border: 1px solid $borderGrey;
                                padding: 5px 10px;
                            }
                            .open-an__latex{
                                display: inline-block;
                                width: auto;
                                height: auto;
                                background-color: $popupGrey;
                                padding: 5px;
                                margin-top: 10px;
                                font-weight: bold;
                                border: 0.5px solid $borderGrey;
                                img{
                                    width: 30px;
                                }
                                mjx-container{
                                    display: inline;
                                }
                            }
                        }

                        .acc-an{
                            form{
                                .form__body{
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    flex-direction: row;
                                    >div{
                                        @extend %borderAccordance;
                                        padding: 10px;
                                    }
                                    .acc-an__rows{
                                        width: 70%;          
                                        background-color: #cefcf6;
                                        margin-right: 20px;
                                        .acc-an__row{
                                            min-height:70px;

                                            display: flex;
                                            width: 100%;
                                            flex-direction: row;
                                            margin-bottom: 5px;
                                            .row__arrow{
                                                margin: 0 10px;
                                                width: 5%;
                                                display: flex;
                                                align-content: center;
                                                align-items: center;
                                                justify-content: center;
                                                scale: 2;
                                                color: #928d91;
                                            }
                                            .row__question,.row__place{
                                                @extend %borderAccordance;

                                            }
                                            .row__question{
                                                width: 55%;
                                                background-color: #b3def9;
                                                img{
                                                    width: 200px;
                                                }
                                            }
                                            .row__place{
                                                position: relative;
                                                width: 40%;
                                                background-color: #fff;
                                                .row__close-container{        
                                                    position: absolute;
                                                    height: 100%;
                                                    top: 0;
                                                    right: 5px;
                                                    display: flex;
                                                    align-items: center;
                                                    .row__close-button{
                                                        width: 20px;
                                                        height: 20px;
                                                        border: 0.5px solid $borderGrey;
                                                        display: none;
                                                }
                                                }
                                                &.active{
                                                    background-color: #84f571;
                                                    .row__close-button{
                                                        display: inline;
                                                    }
                                                }
                                            }

                                        }
                                    }
                                    .acc-an__answers{
                                        width: 30%;
                                        display: flex;
                                        flex-direction: column;
                                        background-color: #cffac9;
                                        >*{
                                            margin-bottom: 5px;
                                        }
                                        .acc-an__answer{
                                            background-color: #84f571;
                                            width: auto;
                                            @extend %borderAccordance;
                                            cursor: pointer;
                                            &.active{
                                                background-color: #dde2dc;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
            }

            #test__main,#test__side{
                padding: 10px;
                border: 2px solid $borderGrey;
            }

            #test__side{
                position: sticky;
                top:150px;
                right: 0;
                height: auto;
                align-self: self-start;
                #side__heading{
                    text-align: center;
                    font-weight: bold;
                }
                #side__body{
                    display: grid;
                    padding: 15px;

                    .side__block { 
                        &.active{
                            display: grid;
                        }                   
                        display: none;
                        gap: 5px;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: auto;
                        justify-content: space-between;
                        .side__cell{
                            color: #000;
                            padding: 13px 10px;
                            display: inline-block;
                            background-color: $popupGrey;
                            @extend %borderAccordance;
                            text-align: center;
                            &.active{
                                background-color: $redNormal;
                                color: #fff;
                           }
                        }
                    }
                    
                }


                
            }

        }
    }
    #main__BSOD{ 
        display: none;
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        &.active{
            display: block;
        }
    }
    #global-popup{
        position: sticky;
        top:10px;
        left: 0;
        width: 100%;
        z-index: 1;
       
        #popup__container{
            height: 100%;
             background-color: $popupGrey;
            border-left: 3px solid $redNormal;
            padding: 20px 30px;
            margin:20px auto;
              box-shadow: 0px 3px 4px #7e7e7e;
            >*:not(:last-child){
                margin-bottom: 20px;
            }
            #popup__warning{
                color: $redNormal;
                font-weight: bold;
            }
            #popup__controls{
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;
                #popup__finish-test{
                    @extend %actionButton;
                    margin-right: 25px;
                    padding-top: 5px ;
                    padding-bottom: 5px ;
                    border-radius: 10px;
                }
                #popup__timer{
                    display: inherit;
                    margin-right: 10px;
                    font-weight: bold;
                    &.hidden{
                        opacity: 0;
                    }
                }
                #popup__hide{
                    @extend %actionButton;
                    color: #fff;
                    padding-top: 5px ;
                    padding-bottom: 5px ;
                    
                }
            }
        }
    }

    #main__loading{
        &.hidden{
            display: none;
        }
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #00000057;
        z-index: 3;
        img{
            width: 50px;
        }
    }
}