<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="static/CSS/header.css">
    <link rel="stylesheet" href="static/CSS/footer.css">
    <link rel="stylesheet" href="static/CSS/global.css">

    {% if page.css %}
        {% for file in page.css %}
            <link rel="stylesheet" href="{{file}}">
        {% endfor %}
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    {% if page.jsHead %}
        {% for file in page.jsHead %}
            <script src="{{file}}"></script>
        {% endfor %}
    {% endif %}
    <link rel="manifest" href="./manifest.webmanifest">
    <meta name="theme-color" content="#ffffff">

    <!-- Service worker -->
    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", function () {
            navigator.serviceWorker.register("./serviceWorker.js")
            .then(function (registration) {
                console.log("ServiceWorker registered with scope:", registration.scope);
            })
            .catch(function (error) {
                console.error("ServiceWorker registration failed:", error);
            });
        });
    }
    </script>

</head>
<body>


{% include header.html %}
    {{content}}

{% include footer.html %}
{% if page.js %}
    {% for file in page.js %}
        <script defer src="{{file}}"></script>
    {% endfor %}
{% endif %}

<script defer src="static/JS/general/blocks.js"></script>
</body>

</html>
